[submodule "proxmark3"]
	path = proxmark3
	url = https://github.com/FonkyCorp/proxmark3.git
[submodule "termcap"]
	path = termcap
	url = https://github.com/FonkyCorp/termcap.git
[submodule "readline"]
	path = readline
	url = https://github.com/FonkyCorp/readline.git